cscope.files
tags
index.sh
build
cscope.out
*~
*.kdev*
*.patch
crowdin.yaml
buildwin/NSIS_Unicode/Include/Langstrings_*.nsh
buildwin/crashrpt/CrashRpt1402.dll
buildwin/crashrpt/CrashSender1402.exe
buildwin/expat*/
buildwin/gtk*/
buildwin/libcurl.dll
buildwin/vc/
buildwin/wxWidgets/
buildwin/include/
buildwin/*.dll
buildwin/*.lib
buildwin/*.exe
buildwin/*.crt
ci/opencpn_rsa
src/opencpn.rc
.DS_Store
NSIS.template.in
