*.kdev*
*.log
*.swp
*~
.DS_Store
.idea
.vs
.vscode
build
buildwin/NSIS_Unicode/Include/Langstrings_*.nsh
buildwin/crashrpt/CrashRpt1402.dll
buildwin/crashrpt/CrashSender1402.exe
buildwin/configdev.bat
cache
crowdin.yaml
cscope.files
cscope.out
data/doc/local/*
index.sh
tags
