cache
cscope.files
tags
index.sh
build
cscope.out
*~
*.kdev*
crowdin.yaml
buildwin/NSIS_Unicode/Include/Langstrings_*.nsh
buildwin/crashrpt/CrashRpt1402.dll
buildwin/crashrpt/CrashSender1402.exe
.DS_Store
