Source: opencpn
Section: misc
Priority: extra
Maintainer: Pavel Kalian <pavel@kalian.cz>
Build-Depends: debhelper (>= 9),
 cmake3 | cmake (>> 3.5.0),
 lsb-core,
 lsb-release,
 libarchive-dev,
 libbz2-dev,
 libcairo2-dev,
 libcurl4-openssl-dev,
 libelf-dev,
 libexif-dev,
 libgdk-pixbuf2.0-dev,
 libgl1-mesa-dev,
 libglib2.0-dev,
 liblz4-dev,
 liblzma-dev,
 libpango1.0-dev,
 libsndfile1-dev,
 libsqlite3-dev,
 libssl-dev,
 libtinyxml-dev,
 libudev-dev,
 libunarr-dev | base-files (<< 11),
 libusb-1.0-0-dev,
 libglew-dev,
 base-files (>=12) | libwxgtk3.0-gtk3-dev,
 base-files (>=12) | libwxgtk3.0-gtk3-0v5,
 base-files (<< 12) | libwxgtk3.2-dev,
 base-files (>= 12) | libwxgtk-webview3.2-dev,
 base-files (>= 12) | libwxgtk-webview3.0-gtk3-dev,
 portaudio19-dev,
 git
#For the ARM build, perhaps add: , libdri2-dev [armhf],libgles1-mesa-dev [armhf]
Standards-Version: 3.9.3
Homepage: http://www.opencpn.org
#Vcs-Git: git://git.debian.org/collab-maint/opencpn.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/opencpn.git;a=summary

Package: opencpn
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, wx3.0-i18n
Breaks: opencpn-gshhs-crude (<< ${source:Version}),
 opencpn-tcdata (<< ${source:Version})
Provides: opencpn-plugin-wmm, opencpn-plugin-chartdldr
Conflicts: opencpn-plugin-wmm, opencpn-plugin-chartdldr
Replaces: opencpn-plugin-wmm, opencpn-plugin-chartdldr,
 opencpn-gshhs-crude (<< ${source:Version}),
 opencpn-tcdata (<< ${source:Version}),
 opencpn-data (<< ${source:Version})
Recommends: xcalib,xdg-utils,opencpn-doc,opencpn-sglock-amd64,opencpn-sglock-arm32,libusb-0.1-4
Description: Concise chartplotter and navigation software
 OpenCPN is a free software (GPLv2) project to create a concise chartplotter and navigation software for use as an underway or planning tool.  OpenCPN is developed by a team of active sailors using real world conditions for program testing and refinement.
