Source: opencpn
Section: utils
Priority: optional
Maintainer: Debian GIS Project <debian-gis@lists.debian.org>
Uploaders: Anton Martchukov <anton@martchukov.com>, M. Hamish Bowman <hamish_b@yahoo.com>
Build-Depends: debhelper (>= 7.0.50~), cmake, libglu1-mesa-dev, libwxbase2.8-dev,
   libwxgtk2.8-dev, libgtk2.0-dev, zlib1g-dev, libbz2-dev, libgps-dev,
   libtinyxml-dev
Standards-Version: 3.9.3
Vcs-Browser: https://salsa.debian.org/debian-gis-team/opencpn
Vcs-Git: https://salsa.debian.org/debian-gis-team/opencpn.git
Homepage: http://www.opencpn.org/

Package: opencpn
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libgps20
Recommends: gpsd, opencpn-data, opencpn-doc, xtide-coastline
Suggests: opencpn-plugins, gpsd-clients, xcalib, xtide, zygrib
Description: GPS ChartPlotter/Navigator
 OpenCPN is a concise ship-borne GUI chart plotter and navigation
 application for use as a planning tool or while underway. OpenCPN is
 developed by a team of active sailors using real world conditions
 for program testing and refinement. It supports:
 .
     * GPS/GPDS postition input
     * BSB raster chart display
     * S-57 and CM93 vector ENChart display
     * AIS input decoding with tracking and alerts
     * Route planning with tidal support
     * Waypoint autopilot navigation
     * GPX file input and output

Package: opencpn-doc
Architecture: all
Depends: ${misc:Depends}
Section: doc
Suggests: opencpn
Description: Documentation for OpenCPN, a GPS ChartPlotter/Navigator
 OpenCPN is a concise ship-borne GUI chart plotter and navigation
 application for use as a planning tool or while underway. OpenCPN is
 developed by a team of active sailors using real world conditions
 for program testing and refinement.
 .   
 This package contains the HTML documentation for OpenCPN.

Package: opencpn-data
Architecture: all
Depends: ${misc:Depends}
Suggests: opencpn
Description: Tidal harmonics and audio files for OpenCPN
 OpenCPN is a concise ship-borne GUI chart plotter and navigation
 application for use as a planning tool or while underway. OpenCPN is
 developed by a team of active sailors using real world conditions
 for program testing and refinement.
 .
 This package contains the tidal harmonics and audio files for OpenCPN.

Package: opencpn-plugins
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Suggests: opencpn
Description: Additional plugins for OpenCPN
 OpenCPN is a concise ship-borne GUI chart plotter and navigation
 application for use as a planning tool or while underway. OpenCPN is
 developed by a team of active sailors using real world conditions
 for program testing and refinement.
 .
 This package contains additional plugins for OpenCPN:
 .
     * Heads-up dashboard
     * GRIB weather data overlay
