#!/usr/bin/make -f

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

# Optimization and debugging flags are added in CMakeLists.txt. To support
#  DEB_BUILD_OPTIONS's noopt perhaps that should be patched away and that
#  logic be made to happen here?
# Specifically, -O3's function inlining is desired.
CFLAGS=-Wall
CXXFLAGS=-Wall -O3

%:
	dh $@ --parallel

override_dh_auto_configure:
	# Remove embedded stuff which will go unused
	rm -rf $(CURDIR)/plugins/grib_pi/src/zlib-1.2.3/
	rm -rf $(CURDIR)/plugins/grib_pi/src/bzip2/
	rm -f $(CURDIR)/include/tinyxml.h
	rm -f $(CURDIR)/include/tinystr.h
	rm -f $(CURDIR)/src/tinyxml*.cpp
	rm -f $(CURDIR)/src/tinystr.cpp
	dh_auto_configure

override_dh_install:
	# WVS supplied by the xtide-coastline package
	rm -rf $(CURDIR)/debian/tmp/usr/share/opencpn/wvsdata/
	
	dh_install
	
	rm $(CURDIR)/debian/opencpn/usr/share/opencpn/license.txt
	rm -rf $(CURDIR)/debian/opencpn/usr/share/opencpn/doc
	rm -rf $(CURDIR)/debian/opencpn/usr/share/opencpn/sounds
	rm -rf $(CURDIR)/debian/opencpn/usr/share/opencpn/tcdata

	#READMEs already installed to the opencpn-data/docs dir
	rm $(CURDIR)/debian/opencpn-data/usr/share/opencpn/sounds/README.bells
	rm $(CURDIR)/debian/opencpn-data/usr/share/opencpn/tcdata/README.harmonics

override_dh_installdocs:
	dh_installdocs
	rm -rf $(CURDIR)/debian/opencpn-doc/usr/share/doc/opencpn-doc/doc/css/
	rm -rf $(CURDIR)/debian/opencpn-doc/usr/share/doc/opencpn-doc/doc/js/
