#!/usr/bin/make -f

include /usr/share/dpkg/architecture.mk
include /usr/share/dpkg/pkg-info.mk

%:
	dh $@

	echo $(DEB_DISTRIBUTION)

	dpkg --purge --force-all libglew2.2
	rm  /usr/lib/*/libGLEW.so

override_dh_auto_configure:
ifeq ($(DEB_BUILD_ARCH_CPU), arm)
	dh_auto_configure -- \
	    -DCMAKE_LIBRARY_PATH=$(DEB_HOST_MULTIARCH) \
            -DOCPN_ENABLE_SYSTEM_CMD_SOUND:BOOL=ON     \
            -DCMAKE_INSTALL_LIBDIR=lib                 \
            -DCMAKE_BUILD_TYPE=RelWithDebInfo          \
            -DDEB_VERSION=$(DEB_VERSION)               \
            -DDEB_DISTRIBUTION=$(DEB_DISTRIBUTION)     \
            -DOCPN_BUILD_TEST=OFF
else ifeq ($(DEB_BUILD_ARCH_CPU), aarch64)
	dh_auto_configure -- \
	    -DCMAKE_LIBRARY_PATH=$(DEB_HOST_MULTIARCH) \
            -DOCPN_ENABLE_SYSTEM_CMD_SOUND:BOOL=ON     \
            -DCMAKE_INSTALL_LIBDIR=lib                 \
            -DCMAKE_BUILD_TYPE=RelWithDebInfo          \
            -DDEB_VERSION=$(DEB_VERSION)               \
            -DDEB_DISTRIBUTION=$(DEB_DISTRIBUTION)     \
            -DOCPN_BUILD_TEST=OFF
else ifeq ($(DEB_BUILD_ARCH_CPU), arm64)
	dh_auto_configure -- \
	    -DCMAKE_LIBRARY_PATH=$(DEB_HOST_MULTIARCH) \
            -DOCPN_ENABLE_SYSTEM_CMD_SOUND:BOOL=ON     \
            -DCMAKE_INSTALL_LIBDIR=lib                 \
            -DCMAKE_BUILD_TYPE=RelWithDebInfo          \
            -DDEB_VERSION=$(DEB_VERSION)               \
            -DDEB_DISTRIBUTION=$(DEB_DISTRIBUTION)     \
            -DOCPN_BUILD_TEST=OFF
else
	dh_auto_configure -- \
	    -DCMAKE_INSTALL_LIBDIR=lib                 \
            -DCMAKE_BUILD_TYPE=RelWithDebInfo          \
            -DDEB_VERSION=$(DEB_VERSION)               \
            -DDEB_DISTRIBUTION=$(DEB_DISTRIBUTION)     \
            -DOCPN_BUILD_TEST=OFF

endif
