[Desktop Entry]
Comment=
Comment[en_US]=
Encoding=UTF-8
Exec=opencpn
GenericName=
GenericName[en_US]=
Icon=exec
MimeType=
Name=OpenCPN
Name[en_US]=OpenCPN
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-DCOP-ServiceType=
X-KDE-SubstituteUID=false
X-KDE-Username=
