{% extends "base/base.j2" %}
{% block main %}
{% include "base/headers.j2" %}
{% for func in functions %}
{% block definition scoped %}
{{ func.return }} {{ func.name }}({{ func.args|args }}) {
    {% block load scoped %}{% endblock %}
    {% block call scoped %}
    {% if not func.void %}return {% endif %}{% block prefix %}wrap{% endblock %}_{{ func.name }}({{ func.args|args(0) }});
    {%- endblock %}
}
{% endblock %}
{% endfor %}
{% endblock %}
