Source: opencpn
Build-Depends: debhelper (>= 9),
 cmake3 | cmake (>> 3.5.0),
 libarchive-dev,
 libbz2-dev,
 libcairo2-dev,
 libcurl4-openssl-dev,
 libelf-dev,
 libexif-dev,
 libgdk-pixbuf2.0-dev,
 libgl1-mesa-dev,
 liblz4-dev,
 liblzma-dev,
 libpango1.0-dev,
 libglib2.0-dev
 libsndfile1-dev,
 libsqlite3-dev,
 libtinyxml-dev,
 libunarr-dev | base-files (<< 10),
 libwxgtk3.0-dev,
 libwxgtk3.0-0v5 | libwxgtk3.0-0,
 libwxgtk-webview3.0-dev | base-files (<< 9),
 libwxsvg-dev | base-files (<< 11),
 portaudio19-dev

Standards-Version: 4.3.0
Homepage: https://opencpn.org

Description: Packages needed to build opencpn on debian.
 The Build-Depends field can be used to install dependencies
 using mk-build-deps.
 .
 These packages are available in trusty+. The base-files
 fallback is for optional packages available in later releases.
