Source: opencpn
Maintainer: Alec Leamas <leamas.alec@gmail.com>
Section: misc
Priority: optional
Build-Depends: debhelper-compat (>= 11),
 cmake,
 dbus,
 googletest (>= 1.11.0) | base-files,
 libarchive-dev,
 libbz2-dev,
 libcurl4-gnutls-dev | libcurl4-openssl-dev,
 libcxx-serial-dev | base-files (<< 12),
 libdrm-dev,
 libelf-dev,
 libexif-dev,
 libgdk-pixbuf-2.0-dev | base-files (<< 12),
 libglew-dev,
 libgtk-3-dev,
 libjs-highlight.js,
 libjs-mathjax,
 liblz4-dev,
 liblzma-dev,
 libpango1.0-dev,
 libsqlite3-dev,
 libssl-dev,
 libtinyxml-dev,
 libudev-dev,
 libunarr-dev | base-files (<< 12),
 libusb-1.0-0-dev,
 libwxsvg-dev (>= 2:1.5.21) | base-files (<< 12),
 base-files (>=11) | libwxgtk3.0-0v5 | libwxgtk3.0-0,
 libwxgtk3.2-dev | libwxgtk3.0-gtk3-dev | base-files (<< 10),
 libwxgtk-webview3.2-dev | libwxgtk-webview3.0-gtk3-dev | base-files (<< 11),
 lsb-release,
 portaudio19-dev,
 python-is-python3 | base-files (<< 11),
 python3-dbus,
 python3-gi | base-files (<< 11),
 rapidjson-dev
Standards-Version: 4.6.2
Vcs-Browser: https://gitlab.com/leamas/opencpn
Vcs-Git: https://gitlab.com/leamas/opencpn.git -b debian/sid
Homepage: https://opencpn.org
Rules-Requires-Root: no

Package: opencpn
Architecture: any
Depends: opencpn-data (>= ${source:Version}),
 bzip2,
 libjs-mathjax,
 libjs-highlight.js,
 ${shlibs:Depends},
 ${misc:Depends}
Recommends: wx3.0-i18n
Breaks: opencpn-plugins (<< 4.8.8~)
Replaces: opencpn-plugins (<< 4.8.8~)
Suggests: binutils
Description: Open Source Chartplotter and Marine GPS Navigation Software
 Chart Plotter and Navigational software program for use underway
 or as a planning tool. Developed by a team of active sailors using real
 world conditions for program testing and refinement.
 By default supports raster and vector formats like BSB and S63. Support for
 many other formats are available in plugins. Other plugins provides
 support for e. g., AIS, radar and weather maps.
 Application has language support in 20+ languages.
 .
 This package contains programs, libraries and some support files.

Package: opencpn-data
Architecture: all
Multi-Arch: foreign
Depends: ${misc:Depends}
Description: Open Source Chartplotter and Marine GPS Navigation Software (data)
 Chart Plotter and Navigational software program for use underway
 or as a planning tool. Developed by a team of active sailors using real
 world conditions for program testing and refinement.
 By default supports raster and vector formats like BSB and S63. Support for
 many other formats are available in plugins. Other plugins provides
 support for e. g., AIS, radar and weather maps.
 Application has language support in 20+ languages.
 .
 This package contains architecture independent data files.
