0 ICON "bitmaps\opencpn.ico"
1 VERSIONINFO
	FILEVERSION 5,1,518,0
	PRODUCTVERSION 5,1, 0, 0
	FILEFLAGSMASK 0
	FILEOS 0x00040004L
	FILETYPE 0x00000001L
	BEGIN
		BLOCK "StringFileInfo"
			BEGIN
				BLOCK "040904E4"
					BEGIN
						VALUE "CompanyName",      "OpenCPN.org\0"
						VALUE "FileDescription",  "Chart Plotter and Navigator\0"
						VALUE "FileVersion",      "5,1,518\0"
						VALUE "InternalName",     "opencpn.exe\0"
						VALUE "LegalCopyright",   "GPL v2\0"
						VALUE "OriginalFilename", "opencpn.exe\0"
						VALUE "ProductName",      "OpenCPN\0"
						VALUE "ProductVersion",   "5,1\0"
					END
			END

		BLOCK "VarFileInfo"
			BEGIN

			END
	END
